@import "tailwindcss";

html {
  scroll-behavior: smooth; 
}

body {
  /* Isse start hote hi wahi image wala Dark Teal color aayega, white flash NAHI aayega */
  background-color: #13262F; 
  color: white;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090E10; 
}

::-webkit-scrollbar-thumb {
  background: #13262F; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00D09E; 
}